<% include ./partials/header.ejs %>

 <div class="wrapper">
  <div class="header header-filter" style="background-color: #DCDCDC;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="card card-header">
            <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-1/c0.24.320.320/p320x320/15442379_1191275360949377_4114530872150356823_n.jpg?oh=315fd068a7c47744a80601bbb9563a69&oe=5B1E86D9" alt="Circle Image" class="avatar img-circle img-responsive img-raised">
            <h1><%=dog.name%></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="main main-raised">
    <div class="section section-basic">
        <div class="container">
              <div class="row">
                <div class="col-md-9">
                   <div class="row">
                    <div class="col-md-12 col-xs-12">
                      <h2>About Me: </h2>
                      <p>
                        Hi, I'm <%= dog.name %>. I'm a <%= dog.age %> years old <%= dog.breed %>. I'm <%=dog.personality %> and is <%=dog.behaviourWithStrangers%> with strangers. Nice meet you!
                      </p>
                    </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12 col-xs-12">

                    </div>
                  </div>

                </div>
                <div class="col-md-3">
                  <h2>Info about my owner</h2>
                  I love my owner! WOOF
                  <h2>Contact my owner to play with me!</h2>
                  <a href= /user/currentUser._id>Click here to see my owner!</a>
                </div>
              </div>
            </div>
          </div>
         </div>
         
                  






<% include ./partials/header.ejs %>
